src/main/app/us2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="ilt.mulesoft-training.com" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="us2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/us" doc:name="HTTP"/>
        <logger message="Process start" level="INFO" doc:name="Logger"/>
        <until-successful maxRetries="5" millisBetweenRetries="30000" synchronous="true" doc:name="Until Successful">
            <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flight" method="GET" doc:name="HTTP"/>
        </until-successful>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <logger message="Process Completed" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
		<logger message="#[payload]" level="INFO" doc:name="LoggerDetails"/>
            <set-payload value="url not available" doc:name="Set Payload"/>
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
			
        </catch-exception-strategy>
    </flow>
</mule>
